@import '../theme/default.scss';

.app {
  background-color: $color-background;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  min-height: 700px;
  min-width: 800px;
}

.container {
  height: 50%;
  width: 100%;
  display: flex;
  max-width: 1200px;

  & > * {
    flex: 1;
    padding: 2em;
  }

  .right {
    display: flex;
    flex-direction: column;
  }
}

.indicator-container {
  width: 100%;
  height: 50%;
  padding: 2em;
  justify-content: center;
  align-items: center;
  display: flex;
}
