@import '../theme/default.scss';

.app {
  background-color: $color-background;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container {
  height: 50%;
  width: 80%;
  display: flex;
  overflow: hidden;

  .left,
  .right {
    flex: 1;
  }

  .left {
    padding: 2em;
  }
}
